.faq-wrapper {
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.faq-wrapper .faq-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.faq-wrapper .faq-item {
  margin: 18px 0;
  border-radius: 20px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.faq-wrapper .faq-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.faq-wrapper .faq-item:last-child {
  border-bottom: none;
}

.faq-wrapper .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
}

.faq-wrapper .faq-question.open {
  background-color: #a97a7a;
  color: #000;
}

.faq-wrapper .faq-number {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.faq-wrapper .faq-text {
  flex: 1;
  margin-right: 10px;
}

.faq-wrapper .faq-toggle {
  font-size: 1.5em;
  width: 25px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.faq-wrapper .faq-answer {
  padding: 15px;
  background-color: #f0f0f0;
  color: #000;
}

.faq-wrapper .faq-item.open .faq-question {
  border-radius: 10px 10px 0 0;
  background-color: #a5d6a7;
  color: #000;
}

.faq-wrapper .faq-item.open .faq-answer {
  background-color: #a5d6a7;
  color: #000;
}