.categories {
  display: flex;
  justify-content: space-evenly;
}
.robot1,
.robot2,
.robot3 {
  width: 35%;
  height: 80vh;
}
.categories-heading {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
  }
  .robot1,
  .robot2,
  .robot3 {
    width: 100%;
    height: 50vh;
  }
}
