.robot-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../assets/1000_F_185750874_rTbc977EBOkAS5a8lTCuwJYoUqwT0Zkh.jpg)
      center/cover fixed no-repeat;
  clip-path: polygon(1% 0.6%, 99% 0.6%, 99% 95%, 1% 95%);
}

#three-container,
#three-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -130px;
}
#three-container1 {
  margin-left: -400px;
}
#three-container {
  margin-bottom: -135px;
}
.robot-container h2 {
  margin-left: 45%;
  padding-top: 10%;
}
.white-container {
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
@media only screen and (max-width: 768px) {
  #three-container,
  #three-container1 {
    margin-top: -520px;
    margin-bottom: -10px;
  }
  #three-container {
    margin-bottom: -20px;
  }
}
