.robot-container {

}

#three-container,
#three-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -130px;
}
#three-container1 {
  margin-left: -400px;
}
#three-container {
  margin-bottom: -135px;
}
.robot-container h2 {
  margin-left: 45%;
  padding-top: 10%;
}
.white-container {
  width: 100%;
  height: 100%;
 background-image: url("../../assets/frame.png");
 background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 768px) {
  #three-container,
  #three-container1 {
    margin-top: -520px;
    margin-bottom: -10px;
  }
  #three-container {
    margin-bottom: -20px;
  }
}
