.featurette .lead {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.featurette-heading {
  margin-left: 10%;
  margin-bottom: 3%;
}
.featurette {
  min-height: 70vh;
  margin-top: 15%;
}

.left {
  padding-left: 10%;
}

.content {
  padding-top: 10%;
}

.right {
  margin-right: 10%;
}

.leftImage {
  margin-left: 5%;
}

.aboutImage {
  position: relative;
}

.aboutImage::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}

.aboutImage::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}

.aboutImage::before,
.aboutImage::after {
  background: linear-gradient(235deg, #5a199b, #0c0b09, #c67dff);
}

.aboutImage img {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.leftText {
  padding-left: 2%;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.aboutUs {
  margin-bottom: 10%;
  margin-top: -10%;
}

@media only screen and (max-width: 768px) {
  .aboutUs {
    margin-top: -100%;
  }

  .featurette {
    margin-top: 40%;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10%;
  }

  .gravitas-desp {
    margin-top: -25%;
  }

  .left,
  .right,
  .leftText,
  .aboutImage img {
    padding: 0;
    margin: 0;
  }

  .leftText {
    max-width: 100%;
  }

  .aboutImage {
    margin-top: 10%;
    width: 100%;
  }

  .aboutImage img {
    height: auto;
    width: 100%;
  }

  .row.featurette > div {
    width: 100%;
    text-align: center;
  }

  .featurette-heading {
    margin-left: 0%;
  }

  .content {
    padding-top: 60%;
  }
}
