.cont{
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin: 80px 50px;
  gap: 10px;
  transition: all 2s ease-in-out; /* Smooth transition for layout changes */
}
.card{
  width: 80vw;
  background-color: black;
  transition: width 0.3s ease-in-out;
  position: relative; /* Necessary for absolute positioning of the image */
  flex-shrink: 0; /* Allows the card to shrink when others expand */
  border-radius: 50px;
  padding: 30px;
  border: solid white 2px;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 2px solid skyblue;
}

@media(max-width: 1000px){
  .expanded-image {
    height: 80%; /* Maintain aspect ratio */
    width: 50%;
    margin-bottom: 5%;
    object-fit: cover;
    border-radius: 25px;
    z-index: 2;
  }
  .expanded-text{
    color: white;
    font-size: 80%;
  }
  .expanded-content {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center; /* Align items vertically center */
    gap: 10px;
  }
}
@media (min-width: 1000px){
.card {
  flex-shrink: 1; /* Allows the card to shrink when others expand */
  border-radius: 50px;
  overflow: hidden;
  width: 33vw;
  height: 500px;
  font-size:"1vw"
}

.card:hover {
  width: 60vw; /* Expands the hovered card */
  flex-shrink: 0; /* Prevents the hovered card from shrinking */
  
}

.expanded-content {
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically center */
  gap: 20px; /* Add some space between image and text */
}

.expanded-image {
  width: 40%; /* Adjust width as needed */
  height: 80%; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 25px;
  z-index: 2;
}

.expanded-text {
  color: white;
  flex: 1; /* Allows the text to take up the remaining space */
  margin-left: 20px; /* Space between image and text */
  max-width: 50%; /* Limits the text width to avoid excessive wrapping */
  min-width: 30%;
  max-height: 55%;
  overflow: hidden; /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis to overflowing text */
  animation: enter 1s 1;
  z-index: 0;
}
}
@keyframes enter {
  0%{
    translate: -200px;
  }
  100%{
    translate: 0px;
  }
}
