.navbar img {
  height: 3rem;
}
.navbar {
  background-color: black;
  color: white;
}
.link {
  color: white;
}
.last {
  margin-left: 5vw;
}
.navbar-nav {
  gap: 3vw;
}

.no-wrap {
  white-space: nowrap;
  margin-left: 2.3vw;
}
.text-link {
  margin-top: 1%;
}
