.container picture {
  display: flex;
  justify-content: space-around;

}
#electric_img {
  height: 72px;
}

#autodesk_img {
  height: 41px;
}
@media only screen and (max-width: 768px){
  #electric_img {
    height: 43px;
  }

  #autodesk_img {
    height: 19px;
  }
  picture img {
    margin-top: 2rem;
    /* height: 87%; */
    width: 30%;
  } 
}